@charset "UTF-8"

.container{
    padding: 20px;
}

.main{
   text-align: left;
   width: 860px;
   margin:  0 auto;         /*   中央寄せ */
}
.box_2{
   padding: 20px;              /* 余白指定 */
   text-align:left;
   margin:  0 auto;            /* 中央寄せ */
   width: 720px;
}

p{
   padding: 1px 20px;              /* 余白指定 上下、左右*/
}


.bigger {
  font-size: 20px;             /* biggerは強調したいところ */
  font-weight: bold;
}
.color_red{
  color: red;
  font-weight: bold;
}
.big_red{
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.p_result{
  color: #e6b422;
  font-size: 18px;
  font-weight: bold;
}

.li_result{
  color: #e6b422;
  font-size: 24px;
  font-weight: bold;
}

.result_box1{
   padding: 20px 20px 20px;              /* 余白指定 */
   margin:  0 auto;            /* 中央寄せ */
   border: solid 2px #e6b422; /*実線 1px 黄金*/
}

.h4_result{
  color: #cd5e3c;
  font-size: 24px;
  font-weight: bold;
}
.h4_result_box{
   padding: 1px 20px 1px 20px;              /* 余白指定 */
   margin:  0 auto;            /* 中央寄せ */
   border: solid 2px #cd5e3c; /*実線 1px 樺*/
}


                 /* detailsは折り畳みの見た目変更 */ 
details {
  border: 2px solid black;
}
details > summary {
  padding: 2px 6px;
  /*width: 620px;*/
  border: 2px;
  cursor: pointer;
  color: #00a3af;
}

details > p {
  border-radius: 0 0 10px 10px;
  padding: 2px 6px;
  margin: 0 auto;
}



              /* tableは表の見た目 */
table {
  border-collapse: collapse; /* tableは表の見た目 */ 
}
table thead {
  background-color: #dcdcdc;
}

table,th,tr,td {
  padding: 6px;
}
caption{
  font-weight: bold;
  font-size: 20px;
}

.td_left{
   text-align: left;
   border: solid 1px black; /*実線 1px 黒*/
}

.td_number{
   text-align: right;
   border: solid 1px black; /*実線 1px 黒*/
}

.td_border{
  border: solid 1px black; /*実線 1px 黒*/
}
.td_title{
   text-align: right;
   font-weight: bold;
   background-color: #dcdcdc;
   border: solid 1px black; /*実線 1px 黒*/
}



       /*blockquoteは引用*/
blockquote {
  margin: 4px;
}
blockquote p {                /*blockquoteは引用*/
  padding: 12px;
  background: #eee;
  border-radius: 6px;
}

blockquote p::before {
  content: '\201C';}       /*引用符の導入*/

blockquote p::after {
  content: '\201D';
}
blockquote footer {
   margin:  0 auto;            /* 中央寄せ */
}

.quote_margin2{
  margin: -2px;
}
.qote_p{
  margin: -2px;        /* 余白指定 上下、左右*/
}
.qote_footer{
   padding: 1px 20px;              /* 余白指定 上下、左右*/
}




